torch==2.6.0+cu126 # better to install torch 2.6.0 from the official website
transformers==4.48.2
datasets==3.4.1
accelerate==1.6.0
peft==0.15.0
trl==0.16.1
pandas==2.2.3
rich==13.9.4
tqdm>=4.65.0
fire==0.7.0
requests==2.32.3
vllm==0.7.3
deepspeed==0.15.4